#comments
  -if @comments&&@comments_counter>0
    %h3=@comments_counter.to_s+'条评论'
    -@comments.each do |comment|
      %p
        =comment.created_at
        =link_to comment.user_name,user_url(comment.user_id)
        -if comment.user_id==session[:user_id]||@isowner
          =link_to '删除',{:action=>'comment',:cid=>comment.id},{:confirm=>'确认删除？',:method=>:delete}
      %p=comment.content
      %hr
  -else
    %h3 还没有评论，快来抢沙发吧
  =form_tag :action=>'comment' do
    我要评论：
    %br
    =text_area_tag(:comment, "", :size => "60x6") 
    %br
    = submit_tag "放上去"

