=form_for(@reply) do |f|
  #editor-button-bar
  =f.text_area(:content, :size => "70x6") 
  =hidden_field_tag :topic,@topic.id.to_s
  %br
  = submit_tag "放上去",:id=>'reply_submit'
=javascript_include_tag 'nicEdit'
:javascript
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });

