#sub-nav
  %ul
    %li{:class=>(@current == 'index' ? :current : nil)}
      =link_to '茶馆',topics_url
    %li{:class=>(@current == 'mine'? :current :nil)}
      =link_to '我发起的', mine_topics_url
    %li{:class=>(@current == 'replied'? :current : nil )}
      =link_to '我回复过', replied_topics_url
    %li{:class=>(@current=='marked'? :current : nil)}
      =link_to '收藏', marked_topics_url
    -if @tag
      %li{:class=>(@current == 'tag' ? :current : nil)}
        =@tag
.clear