-if @h1
  %h1=@h1+' - 茶馆'
-else
  %h1='茶馆'

=link_to '发起话题', new_topic_url

#topics
  -@topics.each do |topic|
    .topic
      .avatar=avatar_url topic.user
      .summary
        .reply_counter
          =topic.replies_count
          回复  
        .title
          =link_to topic.title, topic_url(topic)
          -if topic.user_id==session[:user_id]
            %span.del_button X
        =link_to topic.user.name, user_url(topic.user)
        创建于
        =topic.created_at
        %br
        -if topic.last_replied_by
          =link_to topic.last_replied_by.name, topic.last_replied_by
          在
          =topic.last_replied_at
          最后回复        
        .tags 
          标签：
          -topic.tags.each do |tag|
            =link_to tag, tag_topics_url(:tag=>tag)
        
        

      
