-content_for :rside do
  =link_to '回茶馆',topics_url

%div
  .align-left.avatar
    =avatar_url @author
  #topic
    #topic-header
      %h1=@topic.title
      来自
      =link_to @author.name, user_url(@author)
      =@topic.created_at
      -if @topic.user_id==session[:user_id]
        =link_to '编辑', edit_topic_url(@topic)
  .clear-both
    #topic-content
      =@topic.content
    #tags
      %b 标签:        
      =@topic.tags_string

  #replies
    -@replies.each do |reply|
      .reply
        .align-left.avatar
          =avatar_url reply.user
        .reply-content
          =link_to reply.user.name, user_url(reply.user)
          =reply.created_at
          -if reply.user_id==session[:user_id]
            =link_to '编辑', edit_topic_reply_url(@topic,reply)
          %br
          =reply.content
        .clear-both
    #reply-form
      我要回复：
      =render 'replies/form'

  
