-content_for :rside do
  =link_to '回茶馆',topics_url

%div
  .align-left.avatar
    =avatar_url @author
  #topic
    #topic-header
      %h1=@topic.title
      来自
      =link_to @author.name, user_url(@author)
      =@topic.created_at
      -if @topic.user_id==session[:user_id]
        =link_to '编辑', edit_topic_url(@topic)
  .clear-both
    #topic-content
      =rich_text @topic.content
    #tags
      -@topic.tags.each do |tag|
        =link_to tag, tag_topics_url(:tag=>tag),:class=>'tag'
    -if @topic.marker_ids.to_a.include? session[:user_id]
      #unmark_button=link_to '已收藏', unmark_topic_url(@topic),:remote=>true,:title=>'取消收藏？'
    -else
      #mark_button
        =link_to '收藏', mark_topic_url(@topic),:remote=>true
  .clear
  #replies
    -@replies.each do |reply|
      .reply
        .align-left.avatar
          =avatar_url reply.user
        .reply-content
          =link_to reply.user.name, user_url(reply.user)
          =reply.created_at
          -if reply.user_id==session[:user_id]
            =link_to '编辑', edit_topic_reply_url(@topic,reply)
          %br
          =rich_text(reply.content)
        .clear-both
    -@topic.tags.each do |tag|
      =link_to tag, tag_topics_url(:tag=>tag),:class=>'tag'
    #reply-form
      我要回复：
      =render 'replies/form'

  
