-case space.privacy
-when 'onlyme'
  不对任何人开放
-when 'public'
  公开
-when 'following'
  关注的人
-when 'selected'
  -if space.allowed_users.count>0
    对
    -space.get_allowed_users.each do |user|
      =link_to user.name, user_url(user)
    开放
  -else
    不对任何人开放
