body, td, th {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 162%;
}

textarea {
border: 1px solid #CCC;
padding: 3px;
font-size: 14px;
}

a:link {
  text-decoration: none;
 
}
a:hover{text-decoration:underline;color:#039}
a:active{text-decoration:underline;color:#039}
a:visited{text-decoration:none;color:#039}
a {
  cursor: pointer;
}

ul  {
list-style-type: none;
margin: 0;
padding: 0;
}
#user-info .info ul li {
display: inline;
margin-right: 1em;
}

a img { border-width:0; }

h1 { word-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: #494949; margin:0; padding: 0 0 15px 0;line-height:1.1; }

#comments h3{background-color:#FFF0A8}

table { border-collapse:collapse; border: none; padding: 0; margin: 0; }

div {
  display: block;
}

#nav-user-info {
  float: right;
  margin-top: 5px;
}

#user-info .avatar {
float: left;
margin-right: 12px;
}

#nav-items {
  float: left;
  font-size: 12px;
  margin-top: 3px;
}

#nav-items li{
float: left;
display: inline;
margin: 2px 20px 0 0;
}

#container {
  width: 950px;
  margin: 0 auto;
}
.clear{
  clear: both;
  line-height: 0;
  font-size: 0;
}

#header {
  width: 100%;
  margin: 0 0 40px 0;
  background: none;
  border-bottom: 1px dashed #BBB;
}

#content {
  min-height: 420px;
}

.main{
  float: left;
  width: 590px;
  padding-right: 40px;
}

.side {
  float: right;
  width: 310px;
}

#footer {
  color: #999;
  padding-top: 6px;
  margin-top: 40px;
  overflow: auto;
  zoom: 1;
  border-top: 1px dashed #BBB;
}

.tml{
padding: 0;
margin: 0;
clear: both;
}

.tmll{
float: left;
width: 55px;
margin: 8px 7px 0 0;
padding: 0;
}

.tmlr{
border-bottom: 1px solid #EEE;
padding: 5px 0;
min-height: 55px;
overflow: hidden;
margin: 5px 0 5px 0;
}
.broadsmr {
padding: 5px 24px;
color: #999;
}

.notification .close {
color: #900;
font-size: 9px;
position: absolute;
right: 5px;
top: 5px;
}
.notification {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background-position: 10px 11px!important;
background-repeat: no-repeat!important;
border: 1px solid;
font-size: 13px;
margin: 0 0 15px;
padding: 0;
position: relative;
width: 99.8%;
}
.notification div {
display: block;
font-style: normal;
line-height: 1.5em;
padding: 10px 10px 10px 36px;
}
#error {
background: #DBE3FF url(/images/icons/information.png) repeat scroll 0 0;
border-color: #A2B4EE;
color: #585B66;
}

#success {
background: #f0f0fc url(/images/icons/check.png) repeat scroll 0 0;
border-color: #bbddee;
color: #585B66;
}

.rside{
float: right;
width: 310px;
}

#follow_button{width:70px}
