body, td, th {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 162%;
}

textarea {
border: 1px solid #CCC;
padding: 3px;
font-size: 14px;
}

a:link {
  text-decoration: none;
color: #039; 
}

a:hover{text-decoration:underline;color:#039}
a:active{text-decoration:underline;color:#039}
a:visited{text-decoration:none;color:#039}
a {
  cursor: pointer;
}


#user-info .info ul li {
display: inline;
margin-right: 1em;
}

a img { border-width:0; }

h1 { word-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: #494949; margin:0; padding: 0 0 15px 0;line-height:1.1; }

#comments h3{background-color: #DFE9F5;
border: 1px solid #CCC;
}

table { border-collapse:collapse; border: none; padding: 0; margin: 0; }

div {
  display: block;
}

#nav-user-info {
  float: right;
  margin-top: 5px;
}

.avatar{
margin: 5px 15px 15px 0;
height: 48px;
width: 48px;
}

.align-right{
float:right;
}
.align-left{
float:left;
}

#user-info .avatar {
float: left;
margin-right: 12px;
}

#nav-items {
  float: left;
  font-size: 12px;
  margin-top: 3px;
}

#nav-items li{
float: left;
display: inline;
margin: 2px 20px 0 0;
}

#container {
  width: 950px;
  margin: 0 auto;
}
.clear{
  clear: both;
  line-height: 0;
  font-size: 0;
}

#header {
  width: 100%;
  margin: 0 0 40px 0;
  background: none;
  border-bottom: 1px dashed #BBB;
}

#content {
  min-height: 420px;
}

.main{
  float: left;
  width: 590px;
  padding-right: 40px;
}

.side {
  float: right;
  width: 310px;
}

#footer {
  color: #999;
  padding-top: 6px;
  margin-top: 40px;
  overflow: auto;
  zoom: 1;
  border-top: 1px dashed #BBB;
}

.tml{
padding: 0;
margin: 0;
clear: both;
}

.tmll{
float: left;
width: 55px;
margin: 8px 7px 0 0;
padding: 0;
}

.tmlr{
border-bottom: 1px solid #EEE;
padding: 5px 0;
min-height: 55px;
overflow: hidden;
margin: 5px 0 5px 0;
}
.broadsmr {
padding: 5px 24px;
color: #999;
}

.notification .close {
color: #900;
font-size: 9px;
position: absolute;
right: 5px;
top: 5px;
}
.notification {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background-position: 10px 11px!important;
background-repeat: no-repeat!important;
border: 1px solid;
font-size: 13px;
margin: 0 0 15px;
padding: 0;
position: relative;
width: 99.8%;
}
.notification div {
display: block;
font-style: normal;
line-height: 1.5em;
padding: 10px 10px 10px 36px;
}
#error {
background: #DBE3FF url(/images/icons/information.png) repeat scroll 0 0;
border-color: #A2B4EE;
color: #585B66;
}

#success {
background: #f0f0fc url(/images/icons/check.png) repeat scroll 0 0;
color: #33A333;
border-color: #C7F2C8;
}

.rside{
float: right;
width: 310px;
}
.clear-both{
clear:both;
}
.clear{
clear:both;
}

#follow_button{width:70px}

.topic {
border-bottom: 1px dashed #CCC;
padding: 15px 10px;
overflow: hidden;
}

#topics .avatar {
width: 48px;
height: 48px;
float: left;
margin-right: 10px;
}
#topic-content{
margin:15px 0px 15px 0px;
}

#replies {
border-top: 1px dashed #CCC;
margin-top: 2px;
}
#reply-form{
margin-top:15px;
}

.reply{
clear: both;
border-bottom: 1px dashed #CCC;
padding-bottom: 20px;
}
.reply_counter{
float:right;
}
.tag {
background-color: #E0EAF1;
border-bottom: 1px solid #3E6D8E;
border-right: 1px solid #7F9FB6;
color: #3E6D8E;
font-size: 11px;
margin: 2px 2px 2px 0;
padding: 3px 7px;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

.tag:hover{background-color:#3e6d8e;color:#e0eaf1;text-decoration:none}

#sub-nav{float:right;}
#sub-nav ul{list-style:none;padding:0;margin-top:30px;}
#sub-nav ul li{float: left;
font-size: 16px;
border: 1px solid white;
padding-left: 8px;
padding-right: 8px;
padding-top: 7px;
padding-bottom: 7px;
margin-right: 3px;
}

#sub-nav ul li a{text-decoration:none;}

#sub-nav ul li:hover{background-color:#efefef;border:1px
solid #aaa;color:#444;cursor:pointer;box-shadow:0px 0px 6px #000;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}

#sub-nav ul li.current {
background-color: #FFEEA8;
border: 1px solid #FC0;
box-shadow: 0px 0px 6px black;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
#sub-nav ul li.current a{
color:#4b4742;
}
#mark_button a{float:right;
display: inline-block;
height: 14px;
line-height: 16px;
color: #777;
padding-left: 16px;
background: url(/images/icons/fav-icon.png) no-repeat;
text-decoration: none;
}

#unmark_button a{float:right;
display: inline-block;
height: 14px;
line-height: 16px;
color: #777;
padding-left: 16px;
background: url(/images/icons/fav-icon.png) no-repeat;
background-position: 0 -14px;
text-decoration: none;
}

#tags{float:left;

}
.reply-content{float:right;width:527px;}
