%ul.tml
  -@timeline.each do |t|
    %li.tmll
      =avatar_url(t.user)
    %li.tmlr
      =print_timeline(t)
      -if t.user_id==session[:user_id]
        %span=link_to 'x',{:controller=>'timeline', :action=>'del', :id=>t.id}, {:method=>'delete', :confirm=>'确定从时间线中删除吗？'}
      %div.broadsmr=t.content
