=content_for :rside do
  =follow_button(@user_id)
  %br
  %span#follower_counter=@user.follower_counter
  人在关注他
  %br
  -@followers.each do |f|
    =avatar_url(f)
  %br
  关注
  =@user.following_counter
  人
  %br
  -@following.each do |f|
    =avatar_url(f)

=render 'share/header'


