!!! 5
%html
  %head
    -if @page_title
      %title= @page_title+' 心愿空间'
    -else
      %title='心愿空间'
    =stylesheet_link_tag :all
    =javascript_include_tag :defaults
    =csrf_meta_tag
  %body
    #container
      #header
        #nav-items
          %ul
            %li=link_to "首页",index_url
            - if @logged
              %li=link_to "我的首页", user_url(session[:user_id])
              %li=link_to "我的愿望空间", :controller=>'spaces',:action=>'index',:user_id=>session[:user_id]
            %li=link_to "大家在做什么？", publictimeline_url
            %li=link_to '杂谈', index_url
        #nav-user-info
          - if @logged
            =link_to @user_name,index_url
            =link_to "注销", logout_url,:method=>'delete'
          -else
            ='登陆'
            
        %br.clear
      #content
        .main
          - if flash[:success]
            .notification#success
              %span.close x
              %div= flash[:success]              
          - if flash[:error]
            .notification#error
              %span.close x
              %div= flash[:error]              
          - if flash[:notice]
            .notice.flash
              = flash[:notice]
              %span.close x
          =yield
        .rside
          =yield :rside
      %br.clear
      #footer
        ='联系我们 免责声明'
          
